.DS_Store
*/.DS_Store
.idea/
.infra
tests_output/*
scratch
.run
!*.md
*.log
*.xml
.env
reports/
reports/screenshots/
node_modules/*
/nightwatch/log/webDriver.log.txt
/nightwatch/page_objects/spaVar.txt
/.github/
