.DS_Store
*/.DS_Store
.idea/
.infra
tests_output/*
scratch
.run
!*.md
*.log
*.xml
.env
.env.*
.env.dev 
.env.val
reports/
reports/screenshots/
node_modules/*
/.nyc_output/*
tests/cypress/node_modules
node_modules
tests/cypress/videos
tests/cypress/screenshots
tests/cypress/fixtures/packageDashboardSPAIDs.json
tests/cypress/fixtures/packageDashboardWaiverNumbers.json
tests/cypress/fixtures/savedID.json
/services/layers/aws-sdk-v2-layer/.serverless
