.DS_Store
*/.DS_Store
.idea/
.infra
tests_output/*
scratch
.run
!*.md
*.log
*.xml
.env
.env.*
.env.dev 
.env.val
reports/
reports/screenshots/
node_modules/*
/nightwatch/log/webDriver.log.txt
/.github/
/nightwatch/screenshots/*
/nightwatch/page_objects/*.txt
/.nyc_output/*
