.DS_Store
.idea/
.vscode/

/.github/
.webpack/
.env
.env.*
node_modules/
tests_output/
reports/
.serverless/
.pnp.js
env-config.js
coverage/
build/

# not ours to mess with
/nightwatch/
nightwatch.js
/services/stream-functions/

# contains invalid syntax
stateUserTemplate.json
