$font-path: "~@cmsgov/design-system/dist/fonts";
$image-path: "~@cmsgov/design-system/dist/images";
@import "@cmsgov/design-system/dist/scss/index";

body {
  @extend .ds-base;
}

h1 {
  @extend .ds-h1;
}

h2 {
  @extend .ds-h2;
}

h3 {
  @extend .ds-h3;
}

h4 {
  @extend .ds-h4;
}

select, .field {
  @extend .ds-c-field;
}

label {
  @extend .ds-c-label;
  @extend .ds-u-margin-top--0;
}

.field-hint {
  @extend .ds-c-field__hint;
}

.uploader {

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }

  .uploader-type-cell {
    width: 30%;
  }

  .uploader-type-label {
    font-weight: bold;
  }

  .uploader-input-cell {
    width: 52%;
  }

  .uploader-input-label {
    // Make the label look like a button
    @extend .ds-c-button;
    @extend .ds-c-button--primary;
    margin-right: 1rem;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
  }

  .uploader-controls-cell {
    width: 8%;
  }
  
  .uploader-clear-button {
    @extend .ds-c-button;
    @extend .ds-c-button--transparent;
    color: black;
  }
}

.alert-bar {
  margin-bottom: 2rem;
}

.required-mark {
  color: red;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type="file"] {
  width: 100%;
}

.form-container {
  padding-bottom: 15px;
}

.form-container .summary-field {
  height: 300px;
  font-size: 24px;
  width: 100%;
  max-width: 100%
}

.dashboard-container {
  @extend .ds-l-row;

  .dashboard-title {
    @extend .ds-l-col--12;
    @extend .ds-h1;
  }
  .dashboard-left-col{
    @extend .ds-u-margin-top--5;
    @extend .ds-l-xl-col--3;
    @extend .ds-l-lg-col--3;
    @extend .ds-l-md-col--4;
    @extend .ds-l-sm-col--12;
    @extend .ds-l-col--12;
    @extend .ds-u-border-right--2;
    @extend .ds-u-text-align--left;
  }
  .dashboard-right-col {
    @extend .ds-u-margin-top--5;
    @extend .ds-l-xl-col--9;
    @extend .ds-l-lg-col--9;
    @extend .ds-l-md-col--8;
    @extend .ds-l-sm-col--12;
    @extend .ds-l-col--12;
    @extend .ds-u-align-items--start;
    @extend .ds-u-padding-left--4;
  }
  .action-title {
    @extend .ds-l-row;
    @extend .ds-h3;
    @extend .ds-u-text-align--left;
    @extend .ds-u-align-items--start;
  }
  Button {
    @extend .ds-l-row;
    @extend .ds-u-text-align--left;
    @extend .ds-u-padding-right--5;
  }
  .empty-list {
    @extend .ds-u-border--1;
    @extend .ds-u-margin--2;
    @extend .ds-u-padding--5;
  }
  .list-group-item {
    @extend .ds-u-text-decoration--none;
  }
}
