@import "@cmsgov/design-system/dist/scss/settings/variables/color";

$blue-darker: $color-primary-darker;

$gray: $color-gray;
$gray-lightest: $color-gray-lightest;
$gray-link-active: rgba($color-base-inverse, 0.6);
$gray-link-hover: rgba($color-base-inverse, 0.8);

$white: $color-white;
