table, th, td, tbody {
    border: 1px solid black;
    font-size: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
span {
    font-size: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
