.borderLine {
  background-color: #18415e;
  height: 3px;
}

.headerContainer {
  padding-bottom: 50px;
}

.headerLogo {
  padding: 30px 10px 30px 60px;
  img {
    max-width: 100%;
  }
}

.usaBanner {
  background-color: #f1f1f1;
  font-size: 14px;
  min-height: 25px;
  padding: 0 10px 0 60px;
  img {
    height: 20px;
    padding-right: 10px;
  }
}

.navElements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  button {
    background-color: #205493;
    margin: 15px;
  }

  a {
    margin: 15px;
    color: white;
    font-weight: 600;
    &:hover {
      color: #d5d9df;
    }
    &:active {
      color: #aab2be;
    }
  }
}

.navbarContainer {
  background-color: #205493;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 0 70px;
}

.accountDropdown {
  background-color: #205493 !important;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  box-shadow: none !important;
  &:hover {
    color: #d5d9df;
  }
  &:active {
    color: #aab2be;
  }
  &:focus {
    color: #aab2be !important;
  }
}
